/* Scrollbar أساسي */
::-webkit-scrollbar {
  width: 5px;
}

/* خلفية السكروول */
::-webkit-scrollbar-track {
  background: #ffffff; /* أو أي لون يناسب تصميمك */
  border-radius: 4px;
}

/* لون مؤشر السكرول */
::-webkit-scrollbar-thumb {
  background: var(--color-accent); /* أو لون مخصص */
  border-radius: 4px;
}

/* لما تعمله hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-hover);
}
